/*
*
* Responsive Index
*
*/





/*
*
* Responsive contact-us
*
*/

@media (min-width:769px) and (max-width:1024px) {

    /* Container Main */

    .container-main-contact{
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }

    /* Map */
    .map{
        margin-top: 20%;
    }

}

/*
*
* Responsive Restore Password
*
*/

@media (min-width:769px) and (max-width:1024px){
    .restore-pass{
        margin-top: 10%;
        padding: 10px;
    }
    .restore-pass form{
        width: 60%;
        margin-left: 20%;
    }
}
