/* 
*
* Responsive Index 
*
*/


/*
*
* Responsive Login
*
*/

@media (min-width:1025px) {
    /*Container*/

    .container{
        height: 100%;        
    }


    /* Login */
    .login{
        width: 40%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .login h1{
        font-size: 40px;
    }
    
    .login h3{
        font-size: 28px;
    }

    /*Form*/
    
    .login label{
        color: var(--color-8);
        font-size: 20px;
        margin-top: 10px;
    }

    .login input[type=text], input[type=password]{
        width: 100%;
        padding: 10px 5px 10px 5px;
        margin-top: 5px;
        margin-bottom: 20px;
    } 
    
    .login input[type=submit]{
        width: 80%;
        margin-top: 20px;
        margin-left: 10%;
        padding: 10px 5px 10px 5px;
        background: rgb(44,116,255);
        background: linear-gradient(90deg, rgba(44,116,255,1) 0%, rgba(2,191,191,1) 100%);
        color: var(--color-5);
        border: none;
    }
    
}

/*
*
* Responsive know-us
*
*/

@media (min-width:1025px) {
    .cont-main img{
        width: 350px;
        height: 200px;
    }
}

/*
*
* Responsive contact-us
*
*/

@media (min-width:1025px) {

    /* Container Main */

    .container-main-contact{
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }
    /* Map */
    .map{
        margin-top: 20%;
    }
}

/*
*
* Responsive Restore Password
*
*/

@media (min-width:1025px){
    
    /* Container Restore Pass */

    .container-restore-pass{
        padding-left: 20%;
        padding-right: 20%;
    }

    .container-restore-pass > h1{
        left: 18%;
    }
    
    /* Restore Pass */

    .restore-pass{
        margin-top: 6%;
        padding: 10px;
    }

    /* Form Restore Pass */

    .restore-pass form{
        width: 60%;
        margin-left: 20%;
    }
    .restore-pass form label{
        color: black;
    }
}

/*
*
* Responsive Profile
*
*/

@media (min-width:1025px) {
    .container-main-profile{
        display: grid;
        grid-template-columns: 30% 70%;
    }
}