@charset "UTF-8";

:root{
    --color-1: #83DFFD;
    --color-2: #8FE3FF;
    --color-3: #303030;
    --color-4: #191919;
    --color-5: #FFFFFF;
    --font-1: Verdana, Geneva, Tahoma, sans-serif;
    --font-2: Microsoft-Yaheni;
}

@font-face {
    font-family: 'Microsoft-Yaheni';
    src: url(../fonts/chinese.msyh.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}


/* Header */

.header-top img{
    width: 80px;
    height: 80px;
}

/*Icons*/

.header-top{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.social-networks{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5px;
    margin-top: 10px;

}

.fa-whatsapp{
    font-size: 25px;
    color: #075E54;
}

.fa-instagram{
    font-size: 25px;
    color: #E1306C;

}

.fa-facebook{
    font-size: 25px;
    color: #3b5998;
}

/*Register Button*/

.user{
    display: block;
    align-content: center;
}

.user a{
    text-decoration: none;
}

.user a button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-2);
    background-color: var(--color-1);
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 12px 10px 12px 10px;
    margin-top: 10px;
    cursor: pointer;
}

.user button:hover {
    background-color: #F39200;
}
.user a button i{
    margin-left: 8px;
    margin-top: 2px;
}

/* Header Bottom */

.header-bottom{
    width: 100%;
}

/*Search Bar*/

form {
    display: block;
}

label {
    position: relative;
    top: 50%;
    left: 10%;
}

#ctSearch{
    width: 80%;
    height: 2rem;
    font-size: 1rem;
    padding: 0rem 2rem 0rem 2.2rem;
    border: 2px solid #ccc;
    border-radius: 2rem;
    outline: none;
    margin-bottom: 20px;
}

#ctSearch:focus {
    border-color: #F7AE40;
}

form label i{
    position: absolute;
    left: 1rem;
    top: 12%;
    font-size: 1rem;
}
hr{
    margin-left: 10%;
    width: 80%;
}

/*Nav*/

nav{
    text-align: center;
    font-family: var(--font-2);
    font-size: 12px;
}

nav a{
    text-decoration: none;
    margin: 10px;
    color: black;
    cursor: pointer;
    text-align: center;
    padding: 8px 15px 8px 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 20px;
    display: block;

}

nav a p:hover{
    color: var(--color-3);
}

/*Cards*/

.container-cards{
    width: 100%;
    perspective: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: url(../img/bg-services.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    object-fit: cover;
    position: relative;
}
.container-cards > h1{
    text-align: center;
    color: var(--color-5);
    font-family: var(--font-1);
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 40px;
    position: absolute;
    top: 1%;
}


.card-father{
    margin: 20px;
    margin-top: 100px;
}

.card-father:hover .card-front{
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}
.card-father:hover .card-back{
    transform: rotateY(0);
}

.card{
   width: 250px;
   height: 300px;
   position: relative;
   transform-style: preserve-3d;
}

.card-front{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.card-father:nth-child(1) .card-front{
    background: url(../img/dating.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;
}
.card-father:nth-child(2) .card-front{
    background: url(../img/surgeries.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;
}
.card-father:nth-child(3) .card-front{
    background: url(../img/dating.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;
}
.card-father:nth-child(4) .card-front{
    background: url(../img/x-rays.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.card-front, 
.card-back{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    transition: all 800ms;
    -webkit-transition: all 600ms;
    -moz-transition: all 600ms;
    -ms-transition: all 600ms;
    -o-transition: all 600ms;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
} 

.card-back{
    transform: rotateY(180deg);
}

.body-card-front{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-5);
    transform: translateZ(60px);
    -webkit-transform: translateZ(60px);
    -moz-transform: translateZ(60px);
    -ms-transform: translateZ(60px);
    -o-transform: translateZ(60px);
    font-family: var(--font-1);
    font-size: 12px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0, 0.4);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.body-card-back{
    width: 100%;
    height: 100%;
    padding: 40px;
    text-align: center;
    font-family: var(--font-2);
    font-size: 12px;
    transform: translateZ(60px);
    -webkit-transform: translateZ(60px);
    -moz-transform: translateZ(60px);
    -ms-transform: translateZ(60px);
    -o-transform: translateZ(60px);
    box-shadow: 0px 0px 5px 0px var(--color-3);
    border-radius: 20px;
    backface-visibility: hidden;
    background: linear-gradient(to bottom, #83DFFD, #ffffff);

}

.body-card-back button{
    padding: 10px 40px;
    margin-top: 65%;
    font-size: 12px;
    cursor: pointer;
    border: none;
    color: var(--color-5);
    background: var(--color-2);
    box-shadow: 1px 1px 30px -5px var(--color-2);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: box-shadow 600ms;
    -webkit-transition: box-shadow 600ms;
    -moz-transition: box-shadow 600ms;
    -ms-transition: box-shadow 600ms;
    -o-transition: box-shadow 600ms;
}

.body-card-back button:hover{
    box-shadow: 1px 1px 30px 0px var(--color-1);
}

/* Footer */

footer{
    width: 100%;
    font-family: var(--font-1);
    display: block;
}

/* Footer Top */

.footer-top{
    width: 100%;
    background: var(--color-3);
    color: var(--color-5); 
    display: block;
    padding: 30px;
}

.footer-contain{
    border-bottom: 2px solid var(--color-4);
    margin: 30px;  
    padding: 10px;  
}

.footer-contain h1{
    font-size: 20px;
}

.footer-contain div{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
}

.footer-contain div a{
    text-decoration: none;
    color: var(--color-5);
    display: flex;
    gap: 20px;
    align-items: center;
}

/* Footer Bottom */

.footer-bottom{
    background: var(--color-4);
    color: var(--color-5);
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    gap: 20px;
    position: relative;
}

.footer-bottom img{
    width: 50px;
    height: 50px;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
}

.footer-bottom p{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.footer-bottom p:nth-child(2){
    margin-left: 10%;
}

.footer-bottom p:nth-child(2) img{
    width: 40px;
    height: 40px;
}




/*
*
*
*   RESPONSIVE BOOK APPOINTMENT
*
*/



@media (min-width:426px) and (max-width:768px) {
    /* Header Top */

    .header-top img{
        width: 150px;
        height: 150px;
    }

    /* Register Button */
    .user a button{
        font-size: 20px;
        padding: 20px;
    }

    /* Search Bar */
    #ctSearch{
        height: 3rem;
        font-size: 1.5rem;
        padding: 0rem 2rem 0rem 3rem;
    }

    form label i{
        transform: translateY(-7px);
        font-size: 1.5rem;
        -webkit-transform: translateY(-7px);
        -moz-transform: translateY(-7px);
        -ms-transform: translateY(-7px);
        -o-transform: translateY(-7px);
    }   

    /* Nav */

    nav{
        font-size: 15px;
    }

    /* Slider */
    .container-slider{
        height: 450px;
    }
    .slider{
        height: 90%;  
    }
    .btn a i{
        font-size: 40px;
    }
    .dots{
        height: 0.5rem;
    }
    .dots span{
        width: 15px;
        height: 15px;
        margin: 0 5px;
    }

    /* Information */
    .container-info .info .cont-info h1{
        font-size: 22px;
    }
    .container-info .info .cont-info h2{
        font-size: 15px;
    }
    .container-info .info .cont-info p{
        font-size: 12px;
    }
    
    /*Footer*/

    .footer-bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}


@media (min-width:769px) and (max-width:1024px) {
    
    /*Header*/

    header {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    /* Header Top */

    .header-top{
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .header-top img{
        width: 150px;
        height: 150px;
    }


    /* Register Button */
    .user a button{
        font-size: 15px;
        padding: 10px;
    }

    
    /* Nav */

    nav{
        font-size: 12px;
        display: flex;
        justify-content: space-around;
    }
    nav a{
        margin: 10px;
    }

    /*Cards*/

    .container-cards > h1{
        font-size: 35px;
    }

    /* Information */
    
    .container-info .info .cont-info h1{
        font-size: 25px;
    }
    .container-info .info .cont-info h2{
        font-size: 18px;
    }
    .container-info .info .cont-info p{
        font-size: 15px;
    }

    /* Footer Top*/

    .footer-top{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .footer-contain{
        border-bottom: none;
        padding-left: 50px;
    }
    .footer-contain:nth-child(2), .footer-contain:nth-child(4){
        border-left: 2px solid var(--color-4);
    }

    /* Footer Boottom */

    .footer-bottom{
        display: flex;
    }
}


@media (min-width:1025px) {
    
    /*Header*/

    header {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 0 10% 0 10%; 
    }

    /* Header Top */

    .header-top{
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .header-top img{
        width: 200px;
        height: 200px;
    }


    /* Register Button */
    .user a button{
        width: 250px;
        font-size: 20px;
        padding: 10px;
        gap: 10px;
    }
    
    /*Search Bar*/

    #ctSearch{
        width: 80%;
    }

    /* Nav */

    nav{
        font-size: 15px;
        display: flex;
        justify-content: space-around;
    }
    nav a{
        margin: 10px;
    }

    /* Services */

    .container-cards{
        height: auto;
    }

    .card{
        width: 300px;
        height: 400px;
    }
    
    .container-cards > h1{
        font-size: 40px;
    }

    .card button{
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
    }
    
    /* Information */
    
    .container-info .info .cont-info h1{
        font-size: 25px;
    }
    .container-info .info .cont-info h2{
        font-size: 18px;
    }
    .container-info .info .cont-info p{
        font-size: 15px;
    }
    /* Footer Top*/

    .footer-top{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .footer-contain{
        border-bottom: none;
        padding-left: 50px;
    }
    .footer-contain:nth-child(2), .footer-contain:nth-child(3), .footer-contain:nth-child(4){
        border-left: 2px solid var(--color-4);
    }

    /* Footer Boottom */

    .footer-bottom{
        display: flex;
    }

    .footer-bottom p:nth-child(2){
        margin-left: 25%;
}

    .footer-bottom p:nth-child(2) img{
        width: 50px;
        height: 50px;
        margin-left: 30px;
    }
}
