@charset "UTF-8";

:root{
    --color-1: #83DFFD;
    --color-2: #8FE3FF;
    --color-3: #303030;
    --color-4: #191919;
    --color-5: #FFFFFF;
    --font-1: Verdana, Geneva, Tahoma, sans-serif;
    --font-2: Microsoft-Yaheni;
}

@font-face {
    font-family: 'Microsoft-Yaheni';
    src: url(../fonts/chinese.msyh.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Container Restore Pass */

.container-restore-pass{
    width: 100%;
    background: var(--color-2);
    padding: 20px;
    font-family: var(--font-2);
    position: relative;
}

.container-restore-pass h1{
    position: absolute;
    top: 10%;
    left: 5%;

    font-size: 22px;
    color: var(--color-5);
}

.restore-pass{
    margin-top: 30%;
    padding: 10px;
}

/* Form Restore Pass */

form{
    width: 100%;
    margin-top: 30px;
}

form span{
    color: red;
}

.restore-pass form input[type=submit]{
    margin-top: 30px;
    color: var(--color-5);
    font-size: 15px;
    border: none;
    padding: 10px 8px 10px 8px;
    background: rgb(44,116,255);
    background: linear-gradient(90deg, rgba(44,116,255,1) 0%, rgba(2,191,191,1) 100%);
}

