:root{
    --color-1: #83DFFD;
    --color-2: #8FE3FF;
    --color-3: #303030;
    --color-4: #191919;
    --color-5: #FFFFFF;
    --color-6: #31394A;
    --color-7: #797979;
    --color-8: #B8B6B4;
    
    --font-1: Verdana, Geneva, Tahoma, sans-serif;
    --font-2: Microsoft-Yaheni;
}

@font-face {
    font-family: 'Microsoft-Yaheni';
    src: url(../fonts/chinese.msyh.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main{
    display: block;
    font-family: var(--font-1);
    background: var(--color-2);
}

/* Container of Main */

.container-main-contact{
    display: inline-block;
    width: 100%;
}

/* Container of Contact */

.cont-contact{
    width: 100%;
    padding: 20px;
    display: block;
}

/* Container Information - Aside */

.contact-information, .aside{
    width: 100%;
    background: var(--color-5);
    border: 2px solid var(--color-7);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.contact-information > h1{
    font-size: 22px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.contact-information > p{
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.contact-information > div{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.contact-information > div > div{
    width: 40%;
}

.contact-information > div > div h2{
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}

.contact-information > div > div p, .contact-information > div > div li{
    font-size: 12px;
    list-style: none;
    margin-bottom: 10px;
}

/* Map */

.map{
    display: flex;
    justify-content: center;
}

/* Form */

form{
    width: 100%;
    display: block;
    text-align: left;
    padding: 10px;
}

.aside form label{
    font-size: 15px;
    left: 0;
}

.aside form input[type=text], input[type=email], select, textarea{
    width: 100%;
    padding: 10px 5px 10px 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--color-7);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

input[type=submit]{
    width: 80%;
    padding: 10px 5px 10px 5px;
    background: var(--color-5);
    color: var(--color-3);
    margin-left: 10%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* Aside Image */

.aside-img{
    width: 100%;
    display: inline-block;
    text-align: center;
}

.aside-img hr:nth-child(1), hr:nth-child(3){
    width: 80%;
    margin-left: 10%;
    height: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: var(--color-7);
}

.aside-img hr:nth-child(4){
    width: 60%;
    height: 2px;
    margin-left: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
    background: var(--color-7);
}

.aside-img img{
    width: 200px;
}

/* Min Footer Image */

main .main-footer{
    width: 100%;
    height: 200px;
    overflow: hidden;
    background: url(../img/dogs.jpg);
    background-size: contain;
}


