@charset "UTF-8";

:root{
    --color-1: #83DFFD;
    --color-2: #8FE3FF;
    --color-3: #303030;
    --color-4: #191919;
    --color-5: #FFFFFF;
    --font-1: Verdana, Geneva, Tahoma, sans-serif;
    --font-2: Microsoft-Yaheni;
}

@font-face {
    font-family: 'Microsoft-Yaheni';
    src: url(../fonts/chinese.msyh.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Header*/

.container header{
    display: block;
}

.container header div:nth-child(1) img{
    width: 80px;
    height: 80px;
}

/*Icons*/

.container header > div:nth-child(1){
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.container header > div:nth-child(1) div div:nth-child(1){
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
    margin-top: 5px;

}

.container header > div:nth-child(1) div > div:nth-child(1) > a:nth-child(1) i{
    color: #075E54 ;
}

.container header > div:nth-child(1) div > div:nth-child(1) > a:nth-child(2) i{
    color: #E1306C;

}

.container header > div:nth-child(1) div > div:nth-child(1) a:nth-child(3) i{
    color: #3b5998;
}

/*Register Button*/

.container header div:nth-child(1) div > div:nth-child(2){
    display: block;
    align-content: center;
}

.container header div:nth-child(1) div > div:nth-child(2) a{
    text-decoration: none;
}

.container header div:nth-child(1) div > div:nth-child(2) a button{
    display: flex;
    font-family: var(--font-2);
    background-color: var(--color-1);
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 12px 10px 12px 10px;
    margin-top: 10px;
    cursor: pointer;
}
.container header div:nth-child(1) div > div:nth-child(2) a button i{
    margin-left: 8px;
    margin-top: 2px;
}

/*Search Bar*/

.container header div:nth-child(2) div:nth-child(1) {
    display: block;
    margin-bottom: 10px;
}

hr{
    margin-left: 5%;
    width: 90%;
}
.container header div:nth-child(2) div:nth-child(1) form label{
    display: flex;
    justify-content: center;
    position: relative;
}

.container header div:nth-child(2) div:nth-child(1) form label input{
    width: 80%;
    height: 30px;
    font-family: var(--font-2);
    border: 1px solid #B6B7B7;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.container header div:nth-child(2) div:nth-child(1) form label i{
    font-size: 20px;
    position: absolute;
    right: 50px;
    top: 5px;
}

/*Nav*/

.container header div:nth-child(2) div:nth-child(3){
    
    text-align: center;
    font-family: var(--font-2);
    font-size: 12px;
}

.container header > div:nth-child(2) div:nth-child(3) > a{
    text-decoration: none;
    margin: 10px;
    color: black;
    cursor: pointer;
    text-align: center;
    padding: 8px 15px 8px 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 20px;
    
    display: block;

}

.container header > div:nth-child(2) div:nth-child(3) > a:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    background-color: #efefef;
    letter-spacing: 1px;
}

/*Slider*/

main > div:nth-child(1){
    width: 100%;
    height: 300px;
    background: url(../img/bg-slider.png);
    background-size: 100vw ;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    text-align: center;
}

main > div:nth-child(1) > div:nth-child(1){
    max-width: 100%;
    height: 100%;
}

main > div:nth-child(1) > div:nth-child(1) > div > img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

    /*Buttons Previous and Next*/

main > div:nth-child(1) > div:nth-child(1) > div:nth-child(5){
    width: 100%;
    height: 50px;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

main > div:nth-child(1) > div:nth-child(1) > div:nth-child(5) a i{
    margin: 30px;
    font-size: 25px;
    color: #606060;
    cursor: pointer;
}
    /*Dots*/

main > div:nth-child(1) div:nth-child(2) span{
    cursor: pointer;
    width: 10px;
    height: 10px;
    margin: 0 2px;
    background-color: #606060;
    display: inline-block;
    transform: translateY(0px);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-bottom: 20px;
    top: 20%;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
}
.active{
    background-color: white !important;
}


/* 
Opcion 2
main > div:nth-child(1){
    background: url(../img/bg-slider.png);
    padding: 20px 0px 20px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}


main > div > div{
    height: 300px;
    overflow: hidden;
    animation: slide 15s infinite;
    animation: slide 15s infinite;
    background-size: cover;
    -webkit-animation: slide 15s infinite;
}

main > div > div ul{
    display: flex;
    padding: 0;
    width: 400vw;
    position: relative;
}

main > div > div ul li{
    list-style: none;
    width: 100vw;
    background-size: cover;
}

main > div > div ul li img{
    width: 100%;
    height: 100%;
    background-size: cover;
}

@keyframes slide {
    0%{margin-left: 0%;}
    20%{margin-left: 0%;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    95%{margin-left: -300%;}
} */

/*
solucion 1
main > div:nth-child(1){
    background: url(../img/bg-slider.png);
    background-position: center;
    background-size: cover;
    position: relative;
    height: 220px;
    overflow: hidden;
    
}

main > div:nth-child(1) div{
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

main div:nth-child(1) div > div:nth-child(1) img{
    width: 400px;
    height: 200px;

}

main div:nth-child(1) div > div:nth-child(2){
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: absolute;
}

main div:nth-child(1) div > div:nth-child(2) a{
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--color-5);
    padding: 5px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 20px;
    text-decoration: none;
}
main > div:nth-child(2) a:target{
    opacity: 1;
} */









/*footer*/
