@charset "UTF-8";

:root{
    --color-1: #83DFFD;
    --color-2: #8FE3FF;
    --color-3: #303030;
    --color-4: #191919;
    --color-5: #FFFFFF;
    --font-1: Verdana, Geneva, Tahoma, sans-serif;
    --font-2: Microsoft-Yaheni;
}

@font-face {
    font-family: 'Microsoft-Yaheni';
    src: url(../fonts/chinese.msyh.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-title{
padding: 12px;
}
.container-inicio{
background-color: hsla(194, 100%, 80%, 0.5);   
margin : 8px;
}
.container-encabezado{
display: grid;
grid-template-columns: 60% 40%;    
}
.img-none{
    display: none;
}
.container-mascotas{
padding: 10px;
}
.container-img{
text-align: center;
padding: 10px;
}
.container-img img {
width: 100%;
border-radius: 20% ;
margin: 2px;
}
.container-parrafo{
padding: 10px;
}
.container-cars{
grid-template-columns: 50% 50%;
background-color: #83DFFD;
}
.container-mision{
padding: 10px;
}
.container-vision{
padding: 10px; 
}